<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutorfinder">
    <!-- Add internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutorFinder">
        <activity android:name=".StudentUI.searchClass"></activity>
        <activity android:name=".StudentUI.UpdateDetailsStudent" />
        <activity android:name=".MainUI.ForgotPasswordActivity" />
        <activity android:name=".StudentUI.uploadSlipImgStudent" />
        <activity android:name=".StudentUI.selectedOfferStudent" />
        <activity android:name=".StudentUI.CourseOffersStudent" />
        <activity android:name=".StudentUI.ChatActivityStudent" />
        <activity android:name=".StudentUI.DashboardActivity" />
        <activity android:name=".StudentUI.registerStudent2" />
        <activity android:name=".StudentUI.registerStudent1" />
        <activity android:name=".MainUI.registerUserSelect" />
        <activity android:name=".MainUI.LoginActivity" />
        <activity android:name=".MainUI.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>